* {
  font-family: quicksand, open sans, roboto, open sans, nunito, sans-serif;
}

#myPage {
  width: 100%;
  padding: 40px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  cursor: pointer;
}
